.guide {
  display: flex;
  width: 100%;
}

.usericon {
  display: flex;
  align-items: center;
  width: auto;
  padding-right: 2em;
}

.usericon > svg {
  width: 30px;
  stroke: #ffc107;
}

.notify {
  margin: 1em 0;
}
